/* COLORS*/
$black: #000000;
$white: #ffffff;

$background: #f8f8f8;
/* VARIABLES */
$transition: 0.4s;
$border-radius: 5px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
